.operatorSign {
  * {
    box-sizing: border-box;
  }

  .box {
    border-radius: 10px;
    background-color: #3d424e;
    width: 600px;
    margin-top: 15px;
    text-align: center;
    padding: 15px;
  }
}
