.box {
  width: 100%;
}

.login {
  display: flex;
  width: 100%;
  width: 100%;
  max-width: 350px;
  height: 62px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8ac0e2;
  background: linear-gradient(269deg, #73d5bf 13.23%, #8ac0e2 77.6%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
