.box {
  display: flex;
  background: linear-gradient(275deg, #162343 7.95%, #363C4B 56.8%, #5C5C5C 95.13%);
  height: 100vh;
  justify-items: c;
}

body {
  padding: 0;
  margin: 0;
}

.login {
  display: flex;
  width: 350px;
  height: 62px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8AC0E2;
  background: linear-gradient(269deg, #73D5BF 13.23%, #8AC0E2 77.6%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}