.qms-record-card {
  --qms-gradient-start: #8ac0e2;
  --qms-gradient-end: rgba(115, 213, 191, 0.2);
  
  background: linear-gradient(
    121deg,
    var(--qms-gradient-start) 19.1%,
    var(--qms-gradient-end) 100%
  );

  &:hover {
    --qms-gradient-start: #6ec0ad;
    --qms-gradient-end: #20479c;
  }

  &:active {
    --qms-gradient-start: #8bc1e3;
    --qms-gradient-end: #8bc1e3;
  }
  
  // 繼承其他的record-card樣式但排除漸層相關
  @extend .record-card;
  
  // 支持跨瀏覽器
  @supports not (background: var(--qms-gradient-start)) {
    background: linear-gradient(
      121deg,
      #8ac0e2 19.1%,
      rgba(115, 213, 191, 0.2) 100%
    );

    &:hover {
      background: linear-gradient(121deg, #6ec0ad 19.1%, #20479c 100%);
    }

    &:active {
      background: #8bc1e3;
    }
  }
}