.controlled-table {
  display: flex;
  flex-direction: column;
  position: relative;
  &__content {
    position: relative;
  }

  &__actions {
    //margin-top: 40px;
    bottom: 58px;
    right: 0;
    position: absolute;

    //align-self: flex-end;
  }
  &__actions > button {
    width: auto;
    padding: 5px 16px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #4270b8;
  }

  // ant
  :global(.ant-table-wrapper) {
    :where(*) {
      border-radius: unset;
    }

    :global(.ant-table-thead) {
      th:global(.ant-table-cell) {
        border-top: 1px solid #8f8f8f;
        border-bottom: 1px solid #8f8f8f;
        color: #fff;
        background: #186c98;
        border-radius: unset !important;
        &::before {
          display: none;
        }

        &:first-child {
          border-left: 1px solid #8f8f8f;
        }
        &:last-child {
          border-right: 1px solid #8f8f8f;
        }
      }
    }

    :global(.ant-table-pagination) {
      justify-content: center;
      color: #8f8f8f;
      margin-top: 88px;
      a {
        color: currentColor;
      }

      :global(.ant-pagination-item-active) {
        color: #fff;
        border: unset;
        background: #f39838;
        border-radius: 50%;
        a {
          color: currentColor;
        }
      }

      :global(.ant-pagination-options .ant-select .ant-select-selector) {
        border-radius: 4px;
      }
    }
  }
}
