:global(.sign) {
  display: flex;
  width: 300px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8ac0e2;
  background: linear-gradient(269deg, #73d5bf 13.23%, #8ac0e2 77.6%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

:global(.muiTextField) {
  width: 300px;
  border-radius: 5px;
  label {
    color: #ffffff;
    &:global(.Mui-focused) {
      color: #ffffff;
    }
  }

  :global(.MuiOutlinedInput-root) {
    height: 56px;
    fieldset {
      border-color: #e0e3e7;
    }

    &:hover fieldset {
      border-color: #b2bac2;
    }

    &:global(.Mui-focused) fieldset {
      border-color: #b2bac2;
    }
  }
}
