$palette-primary-main: #186C98;
$palette-primary-light: #739BB0;
$palette-primary-contrast-text: #E1E7F5;
$palette-text-primary: #8F8F8F;
$palette-light-background: #ECEAEA;
$palette-dark-background: #515357;