.machine-select {
  * {
    box-sizing: border-box;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
  }

  .filter-section {
    display: flex;
    gap: 30px;
  }

  // 搜尋條件篩選
  .select-box {
    display: flex;
    align-content: center;
  }

  .ant-select .ant-select-selection-placeholder,
  .ant-select-dropdown .ant-select-item,
  .ant-select-selection-item {
    color: #8f8f8f;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border-radius: 4px;
  }

  // 狀態篩選器
  .ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #8bc1e3;
  }

  .area-filter.ant-select-single .ant-select-selector {
    border-radius: 4px;
  }

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;

    .title {
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 2.215rem;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .machine-box {
    margin-top: 30px;
    display: flex;
    // max-width: 275px;
    min-height: 150px;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(180deg, #676767 0%, #2a2a2a 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    h1 {
      color: #fff;
      font-family: Roboto;
      font-size: 3rem;
      font-style: normal;
      font-weight: 400;
      // line-height: 20px;
    }

    p {
      color: #fff;
      font-family: Roboto;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .active {
    background: linear-gradient(180deg, #73d5bf 0%, #8ac0e2 100%);
  }

  // Modal
  .ant-modal-confirm-body {
    align-items: center !important;
  }

  .ant-modal-confirm-paragraph .ant-modal-confirm-content {
    height: 310px;
    display: flex;
    align-items: center;

    p {
      font-size: 1rem;
    }
  }
}
