@import "../../styles/abstracts/variables";

// 混合器
@mixin flex-center {
  display: flex;
  place-content: center center;
}

@mixin button-base {
  @include flex-center;
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  & > svg {
    align-self: center;
  }
}

@mixin hover-active-states($hover-bg, $active-bg) {
  &:hover {
    background-color: $hover-bg !important;
    color: white !important;
  }

  &:active {
    background-color: $active-bg !important;
    color: white !important;
  }
}

// 按鈕樣式
button.ant-btn-default,
.ant-btn-default {
  @include button-base;
}

.c-btn-primars {
  background-color: #83bf45 !important;
  border: none;
  color: white !important;
  transition: background-color 0.3s, transform 0.1s;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25));

  @include hover-active-states(#6fc1ae, #8bc1e3);

  &--cancel {
    color: #8f8f8f;
    background: unset;
    &:hover {
      color: #6fc1ae;
      text-decoration: underline;
    }
    &:active {
      color: #8bc1e3;
    }
  }

  &--delete {
    background-color: #eb0004 !important;
    color: #fff !important;
    @include hover-active-states(#e8686a, #be090c);
  }
}

// Drawer UI 套件
// product-Drawer
.ant-drawer-content-wrapper > .product-drawer {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 111.111% */
  border-radius: 10px 0px 0px 10px;
  background: #ebecf0;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 6.625rem !important;
}

// ant 原生 body
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.product-drawer {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    margin-top: 3.125rem;
  }

  &__footer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-top: 2.625rem;
    padding-bottom: 1.5rem;
    padding-right: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 1.875rem;
    z-index: 2;
    background: #ebecf0;
    & button {
      width: 5rem;

      padding: 0.5625rem 1.375rem 0.625rem 1.375rem;
      justify-content: center;
      align-items: center;
      border: none;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 1.875rem;
      cursor: pointer;
    }
  }
  & .footer__drawerc--cancel {
    color: #8f8f8f;
    background: unset;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;
    &:hover {
      text-decoration-color: currentColor;
    }
  }

  & .footer__drawer--confirm {
    color: #e1e7f5;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #186c98;
  }
}

// Drawer :: InfoSectionsDialog
.info__item {
  display: flex;
  flex-direction: column;
  max-height: 3.875rem;
  gap: 9px;
  font-family: Inter;
  line-height: 1.0625rem;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }

  > span {
    font-size: 0.875rem;
  }
}
