.watermeter-data {
  color: #ffffff;
  border: 0.1px solid #8f8f8f;
  border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(180deg, #000 0%, #36F096 81.58%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}
.WATER_VOLUME{
  font-size: 60px;
  margin-top: 30px;
  .unit{
    font-size: 24px;
  }
}
.title{

  text-align: start;
  font-size: 28px;
  padding: 10px;

}
.water-box{
  margin-top: 150px;
  background-color: #ffffff;
  width: 100%;
  height: 450px;
  border: #8f8f8f 1px solid;
}