
.Title{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}
.Item{
  
  height: 380px;
  margin: 20px 25px;
}



.separatorStateBox{
  width: 100%;
  display: grid;
  // margin-top: 30px;
  grid-template-columns:  1fr 1fr;
}
.GraphicLoadingBox{
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width:'900px') {
  
  .separatorStateBox{
    grid-template-columns: repeat(1, 1fr);
  
  }
}



.EXTRUDER_STATE , .WASHER_STATE{
  width: 100%;
}
.box{
  border: 1px solid #fff;
  padding: 10px;
  display: grid;
  margin: 60px 20px;
  width:97% ;

}



