/* 自訂字體 - Free HK Kai (後備，優先使用 Google Fonts Noto Serif TC) */
/* 如果不需要可以註解掉以節省 6.1MB 下載 */
/*
@font-face {
  font-family: 'Free HK Kai';
  src: url('./Free-HK-Kai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/

/* EDIX 字體 */
@font-face {
  font-family: 'EDIX';
  src: url('./EDIX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

