.switchPath {
      position: absolute;
      right: 40px;
      top: 60px;
      display: flex;
      justify-content: end;
      background-color: #0C1421;
      width: 100%;
      height: 50PX;
      padding: 0;
      z-index: 1;



}

li {
      border: none;
      background: #0C1421;
      color: #fff;
      margin-right: 10px;
      // color: #8AC0E2;
      list-style-type: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}


a:link,
a:visited {
      //     color: orange;
      text-decoration: none;
}

li:hover,
li.active {
      color: #8AC0E2;
      text-decoration: underline;
}


