.controlled-table {
  & :global(.ant-table-wrapper) {
    border: unset;

    & :global(.ant-table-thead) {
      :global(.ant-table-cell) {
        border-top: 1px solid #8f8f8f;
        border-bottom: 1px solid #8f8f8f;
        color: #fff;
        background: #186c98;
        &:first-child {
          border-left: 1px solid #8f8f8f;
        }
        &:last-child {
          border-right: 1px solid #8f8f8f;
        }
      }
    }
  }

  & :global(.ant-table-tbody) {
    border: unset;
    background: transparent;
    & :global(.ant-table-cell) {
      border-color: #fff;
    }
    & :first-child {
      border-radius: 4px !important;
    }
  }
}
