@import "../../../styles/variables";

// 變量定義
$font-color: #8f8f8f;
$font-family: Roboto, sans-serif;
$font-size: 14px;
$line-height: 20px; // 142.857%
$border-color: #8f8f8f;
$background-color-thead: #cdcdcd;
$background-color-even-row: #dfdfdf;

// 基礎樣式
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;
}

// 組件樣式
.procMaterials-context {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(771px, 1fr));
  gap: 20px;
}

.reusableTable {
  //   max-height: 200px;
  //   overflow-y: auto;
}

// 表格樣式
:global(.ant-table-wrapper) {
  width: 100%;
  border: 1px solid $border-color;

  :where(*) {
    color: $font-color !important;
    font-family: $font-family;
    font-size: $font-size;
    font-style: normal;
    font-weight: 400;
    line-height: $line-height;
    border-radius: 0 !important;
    border: none;
  }

  :global(.ant-table-thead .ant-table-cell) {
    &::before {
      display: none;
    }
    padding: 10px;
    border-radius: 0;
    border-bottom: 1px solid $border-color;
    background: $background-color-thead;
  }

  :global(.ant-table-tbody) {
    :not(:last-child) {
      border-right: 1px solid $border-color;
    }
    :global(.ant-table-row) {
      &:not(:last-child) > td {
        border-bottom: 1px solid $border-color;
      }

      &:nth-of-type(odd) {
        background: $background-color-even-row;
      }
    }
  }
}
