@import "../../styles/global.scss";

.leaderSign {
  * {
    box-sizing: border-box;
  }

  // Modal
  .ant-modal-confirm-body {
    align-items: center !important;
  }

  .ant-modal-confirm-paragraph .ant-modal-confirm-content {
    height: 310px;
    display: flex;
    align-items: center;

    p {
      font-size: 1.5rem;
    }
  }
}
