@import "../../styles/variables.scss";
.filterBar {
  display: flex;
  gap: 15px;
  max-height: 35px;

  // 日期選擇器
  .startDate,
  .endDate {
    display: flex;
  }

  :global(.ant-picker) {
    width: 110px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: none;
    font-family: "Roboto", sans-serif;

    @media (min-width: $screen-lg) {
      width: 125px;
    }
  }

  :global(.ant-picker) :global(.ant-picker-input) > input {
    font-size: 0.75rem;
    color: #8f8f8f;
    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  .dateTo {
    color: #8f8f8f;
    font-weight: 900;
    font-size: 1rem;
  }

  .weekNo {
    font-size: 0.75rem;
    width: 34px;
    border: 1px solid #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #8f8f8f;
    font-family: "Roboto", sans-serif;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
      width: 45px;
    }
  }

  // 搜尋條件篩選
  .selectBox {
    display: flex;
    align-content: center;
  }

  :global(.ant-select) {
    @media (min-width: $screen-lg) {
      height: 35.14px;
    }
  }

  :global(.ant-select) :global(.ant-select-selection-placeholder),
  :global(.ant-select-dropdown) :global(.ant-select-item),
  :global(.ant-select-selection-item) {
    font-size: 0.75rem;
    color: #8f8f8f;
    font-style: normal;
    font-weight: 400;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  // 狀態篩選器
  :global(.ant-select-dropdown)
    :global(.ant-select-item-option-selected):not(
      :global(.ant-select-item-option-disabled)
    ) {
    background-color: #8bc1e3;
  }

  .statusFilter:global(.ant-select-single) :global(.ant-select-selector) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  //期限篩選器, 關鍵字搜尋類型篩選器
  .expiryFilter:global(.ant-select-single) :global(.ant-select-selector),
  .keywordTypeFilter:global(.ant-select-single) :global(.ant-select-selector) {
    border-radius: 0;
  }

  // 關鍵字搜尋
  .keywordSearch:global(.ant-input-affix-wrapper) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
