@import "../../styles/variables.scss";

.prodution-assignment {
  * {
    box-sizing: border-box;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
  }

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;

    .title {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-right: 5px;
      font-size: 1rem;
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-style: normal;
      font-weight: 400;

      @media (min-width: $screen-lg) {
        font-size: 1.5rem;
        gap: 15px;
      }
    }

    .btn-box {
      .ant-btn-primary {
        background-color: #83bf45;
      }

      .ant-btn > span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    /* 在這裡修改 icon 的顏色 */
    .ant-picker .ant-picker-suffix {
      color: #4270b8;
    }
  }

  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 20px 0 0 0;
  }

  // 新增母批按鈕
  .ant-btn-default {
    background-color: #186c98;
    border-color: #186c98;
    color: #fff;
  }

  .btn-new {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-lg) {
      width: 60px;
      height: 60px;
    }
  }

  // Table
  .ant-table-wrapper {
    margin-top: 30px;
  }

  .ant-table-wrapper .ant-table {
    border-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:first-child {
    border-start-start-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:last-child {
    border-start-end-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    content: none;
  }

  .ant-table-wrapper .ant-table-thead > tr > th {
    font-size: 0.75rem;
    background: #186c98;
    border: 1px solid #8f8f8f;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  // set the second column of the table to display flex
  .ant-table-wrapper .ant-table-thead > tr > th:nth-child(3) {
    div {
      display: flex;
      align-items: center;

      @media (min-width: $screen-lg) {
        gap: 5px;
      }
    }
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    font-size: 0.75rem;
    color: #8f8f8f;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #8f8f8f;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  // stripe
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd) {
    td {
      background: #ededed;
    }
  }
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(even) {
    td {
      background: #d7d7d7;
    }
  }

  // hide the disabled checkboxes
  .ant-checkbox-wrapper-disabled {
    display: none;
  }

  // enlarge checkbox
  // .ant-checkbox-inner,
  // .ant-checkbox-input {
  //   transform: scale(1.2);
  // }

  // set the color to red for the defective quantity column
  .ant-table-wrapper .ant-table-tbody .ant-table-row td:nth-child(9) {
    color: #ff0000;
  }

  // set the color to gray when the status is pause
  .ant-table-wrapper .ant-table-tbody .ant-table-row.status-pause > td {
    color: #b5b5b5;
  }

  // set the color of the second cell to yellow when the class is .expiry-warning
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-warning
    > td:nth-child(3) {
    background-color: #ffd9a1;
  }

  // set the color of the second cell to red when the class is .expiry-danger
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-danger
    > td:nth-child(3) {
    background-color: #ffa9a9;
  }
}

// Modal
.ant-modal-confirm-body {
  align-items: center !important;
}

.ant-modal-confirm-paragraph .ant-modal-confirm-content {
  // width: 750px;
  height: 310px;
  display: flex;
  align-items: center;

  p {
    font-size: 1rem;
  }
}
