@import "../../styles/variables.scss";
* {
  box-sizing: border-box;
}

//c = Component
button.ant-btn-default {
  display: flex;
  place-content: center center;
  width: 35px;
  height: 35px;
  background-color: $palette-primary-main;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  & > svg {
    align-self: center;
  }
}

// Home page
.record {
  &__container {
    width: 100%;
    padding: 19px;
  }
}

.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.record-actions {
  display: flex;
  place-content: center center;
  gap: 10px;
  &__button {
    display: flex;
    gap: 10px;
  }
}

.record-sections {
  margin-top: 1.187rem;
}

.record .record-card {
  width: 376px;
  height: 300px;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  background: linear-gradient(
    121deg,
    #8ac0e2 19.1%,
    rgba(115, 213, 191, 0.2) 100%
  );
  cursor: pointer;
  transition: background 0.4s;
  & .ant-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 50px; /* 277.778% */
    font-family: Roboto;
  }

  // 共用樣式
  &__title,
  &__subtitle,
  &__buttonText {
    display: block;
    color: currentColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // 特殊樣式
  &__title,
  &__subtitle,
  &__buttonText {
    font-size: inherit;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: currentColor;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttonText {
    margin-top: auto;
    align-self: flex-start;
    padding: 0;
    text-decoration-line: underline;

    &:hover {
      color: currentColor;
    }
  }

  &:hover {
    border-color: #fff;
    background: linear-gradient(122deg, #6ec0ad 18.5%, #20479c 97.71%);
  }

  &:active {
    background: #8bc1e3;
  }
}

.record-home {
  overflow: hidden;
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 376px);
    place-content: center center;
    gap: 20px;
  }
}

// paginations and  Antd dis style
.record-paginations {
  display: flex;
  justify-content: center;
  margin: 5.5rem auto 1rem auto;
}

.record-paginations .ant-pagination-item {
  display: flex;
  align-self: center;
  justify-self: center;
  min-width: unset;
  width: 20px;
  height: 20px;
  padding: 0px 6px;
  align-items: center;
  justify-content: center;
  color: $palette-text-primary;
  border-radius: 50%;
  border: none;

  line-height: unset;
  &.ant-pagination-item-active {
    background: #f39838;
    color: #fff;
  }

  & a {
    text-align: center;
    color: currentColor;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

//  使用 :is 選取器 抓裡面的 right & left
.record-sections
  :is(.anticon-right, .anticon-left, .ant-pagination-item-ellipsis) {
  color: #8f8f8f !important;
  stroke-width: 5;
}

// Add info page

//  product-content
.product-content {
  &__breadcrumb {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
  }
  &__sections > div {
    margin-top: 20px;
  }
}

// product-info
.product-info {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 30px 23px 82px 23px;

  gap: 38px;
  color: $palette-text-primary;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  background: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #f1f1f1;

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    height: 100%;
    font-size: 14px;
  }
  &__text > p:not(:first-child) {
    margin-top: 20px;
  }
}

//  product-Drawer
.ant-drawer-content-wrapper > .product-drawer {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  border-radius: 10px 0px 0px 10px;
  background: #ebecf0;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
// ant 原生 body
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.product-drawer {
  &__body {
    margin-top: 50px;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    & button {
      width: 80px;
      height: 40px;
      padding: 9px 22px 10px 22px;
      justify-content: center;
      align-items: center;
      border: none;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 30px;
      cursor: pointer;
    }
  }
  & .footer__drawerc--cancel {
    color: #8f8f8f;
    background: unset;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;
    &:hover {
      text-decoration-color: currentColor;
    }
  }

  & .footer__drawer--confirm {
    color: #e1e7f5;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #186c98;
  }
}

//  Drawer :: InfoSectionsDialog

.info__item {
  display: flex;
  flex-direction: column;
  max-height: 62px;
  gap: 9px;
  padding: 0px 0px 19px 10px;
  font-family: Inter;
  line-height: 17px;

  & :is(input, label) {
    color: $palette-text-primary;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  > span {
    font-size: 14px;
  }
}

// AddInfomationsTransferList
// 取消他自定義的格線系統 ， 這樣才能配合設計稿否則不可控
// 盡量不使用  important , 使用頂級父層 + :is 下去找自定義 class 蓋過原生 ui
.product-drawer__body :is(.transferList__container) {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  padding-left: 10px;
}

.transferList__container {
  & .transferList__item {
    flex-grow: 1;
  }
  & .transferList__button {
    margin: 0 18px;
  }
  //  原生 Ui 修改
  & :is(.MuiGrid-item) {
    padding: 0 !important;
  }
  & :is(.MuiPaper-elevation) {
    width: 100% !important;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
  }
  & :is(.MuiList-dense) {
    width: 100%;
    max-height: 182px;
  }
}
