@import "../../styles/variables.scss";
* {
  box-sizing: border-box;
}
.color-danger {
  font-weight: 800;
  color: $danger-text-color;
}

//c = Component
button.ant-btn-default,
.ant-btn-default {
  display: flex;
  place-content: center center;
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: $palette-primary-main;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  & > svg {
    align-self: center;
  }
}

/* ProductionRecordButton.scss */
button.c-btn-primars,
.c-btn-primars {
  background-color: #83bf45 !important; // Normal background color
  border: none;
  color: white !important;
  transition: background-color 0.3s, transform 0.1s;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.25));

  &:hover {
    background-color: #6fc1ae !important; // Hovering background color
    color: white !important;
  }

  &:active {
    background-color: #8bc1e3 !important; // Pressing background color
    color: white !important;
  }

  &--cancel {
    color: #8f8f8f;
    background: unset;
    &:hover {
      color: #6fc1ae;
      text-decoration: underline;
    }
    &:active {
      color: #8bc1e3;
    }
  }
  &--delete {
    background-color: #eb0004 !important; // Normal background color
    color: #fff !important;
    &:hover {
      color: #fff !important;
      background-color: #e8686a !important; // Hovering background color
    }
    &:active {
      color: #fff !important;
      background-color: #be090c !important;
    }
  }
}

.MuiFormControl-root {
  transition: all 0.3s;
  &:hover {
    .MuiFormLabel-root,
    .MuiOutlinedInput-root,
    fieldset {
      color: #4f9ab1;
      border-color: #4f9ab1 !important;
    }
  }
  .Mui-focused {
    color: #8bc1e3 !important;
    .MuiOutlinedInput-root,
    .MuiFormLabel-root,
    label,
    fieldset {
      color: #8bc1e3 !important;
      border-color: #8bc1e3 !important;
    }
  }
}
// Home page
.record {
  &__container {
    width: 100%;
    padding: 19px;
  }
}

.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #fff;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
}

.record-actions {
  display: flex;
  place-content: center center;
  gap: 10px;
  &__button {
    display: flex;
    gap: 10px;
  }
}

.record-sections {
  margin-top: 1.187rem;
}

.record .record-card {
  height: 300px;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  background: linear-gradient(
    121deg,
    #8ac0e2 19.1%,
    rgba(115, 213, 191, 0.2) 100%
  );
  cursor: pointer;
  transition: all 0.2s ease-in-out, background 0s, transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
  grid-column: span 6;

  & .ant-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 3.125rem; /* 277.778% */
    font-family: Roboto;
  }

  & .ant-btn-link.record-card__buttonText,
  & .ant-btn-link.record-card__buttonText:hover,
  & .ant-btn-link.record-card__buttonText:active,
  & .ant-btn-link.record-card__buttonText:focus {
    color: inherit; /* Reset color */
    background: none; /* Reset background */
    border: none; /* Reset border */
    box-shadow: none; /* Reset box-shadow */
    text-decoration: none; /* Reset text decoration */
  }

  // 共用樣式
  &__title,
  &__subtitle,
  &__buttonText {
    display: block;
    color: currentColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    :hover {
      color: #fff;
      text-decoration: underline; /* Add underline on hover */
    }
  }

  // 特殊樣式
  &__title,
  &__subtitle,
  &__buttonText {
    font-size: inherit;
  }

  &__subtitle {
    margin-bottom: 1.25rem;
    margin: auto 0;
  }

  &__content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: currentColor;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buttonText {
    margin-top: auto;
    align-self: flex-start;
    padding: 0;
    text-decoration-line: underline;

    &:hover {
      color: currentColor;
    }
  }

  &:hover {
    border-color: #fff;
    background: linear-gradient(122deg, #6ec0ad 18.5%, #20479c 97.71%);
  }

  &:active {
    background: #8bc1e3;
  }
}

.record-home {
  overflow: hidden;
  width: 100%;

  &__content {
    max-width: 100cqw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
}

// paginations and  Antd dis style
.record-paginations {
  display: flex;
  justify-content: center;
  margin: 5.5rem auto 1rem auto;
}

.record-paginations .ant-pagination-item {
  display: flex;
  align-self: center;
  justify-self: center;
  min-width: unset;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0px 6px;
  align-items: center;
  justify-content: center;
  color: $palette-text-primary;
  border-radius: 50%;
  border: none;

  line-height: unset;
  &.ant-pagination-item-active {
    background: #f39838;
    color: #fff;
  }

  & a {
    text-align: center;
    color: currentColor;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
  }
}

//  使用 :is 選取器 抓裡面的 right & left
.record-sections
  :is(.anticon-right, .anticon-left, .ant-pagination-item-ellipsis) {
  color: #8f8f8f !important;
  stroke-width: 5;
}

//  Add info Page

//  product-content
.product-content {
  &__breadcrumb {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: 1.25rem;
  }
  &__sections > div {
    margin-top: 1.25rem;
  }
}

// product-info
.product-info {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 1.875rem 1.4375rem 5.125rem 1.4375rem;

  // gap: 1.625rem;
  color: $palette-text-primary;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 125% */
  background: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #f1f1f1;

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  &__text {
    height: 100%;
    font-size: 0.875rem;
  }
  &__text > p:not(:first-child) {
    margin-top: 1.25rem;
  }
}

// Accordion UI 套件

.product-info > .accordion {
  width: 100%;
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 125% */
  & :is(.MuiAccordionSummary-content) {
    align-items: center;
    gap: 1.25rem;
  }
}

//  Drawer UI 套件
//  product-Drawer
.ant-drawer-content-wrapper > .product-drawer {
  color: #8f8f8f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 111.111% */
  border-radius: 10px 0px 0px 10px;
  background: #ebecf0;
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 6.625rem !important;
}
// ant 原生 body
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.product-drawer {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__body {
    margin-top: 3.125rem;
  }

  &__footer {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-top: 2.625rem;
    padding-bottom: 1.5rem;
    padding-right: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 1.875rem;
    z-index: 2;
    background: #ebecf0;
    & button {
      width: 5rem;
      height: 2.5rem;
      padding: 0.5625rem 1.375rem 0.625rem 1.375rem;
      justify-content: center;
      align-items: center;
      border: none;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 1.875rem;
      cursor: pointer;
    }
  }
  & .footer__drawerc--cancel {
    color: #8f8f8f;
    background: unset;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: all 0.2s;
    &:hover {
      text-decoration-color: currentColor;
    }
  }

  & .footer__drawer--confirm {
    color: #e1e7f5;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #186c98;
  }
}

//  Drawer :: InfoSectionsDialog

.info__item {
  display: flex;
  flex-direction: column;
  max-height: 3.875rem;
  gap: 9px;
  font-family: Inter;
  line-height: 1.0625rem;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }

  > span {
    font-size: 0.875rem;
  }
}

// AddInfomationsTransferList

// 取消他自定義的格線系統 ， 這樣才能配合設計稿否則不可控
// 盡量不使用  important , 使用頂級父層 + :is 下去找自定義 class 蓋過原生 ui
.product-drawer__body :is(.transferList__container) {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 21px;
}

.transferList__container {
  & .transferList__item {
    flex-grow: 1;
  }
  & .transferList__button {
    margin: 0 1.125rem;
  }
  //  原生 Ui 修改
  & :is(.MuiGrid-item) {
    padding: 0 !important;
  }
  & :is(.MuiPaper-elevation) {
    width: 100% !important;
    border: 1px solid #8f8f8f;
    border-radius: 4px;
  }
  & :is(.MuiList-dense) {
    width: 100%;
    max-height: 11.375rem;
  }
}

// Variables
$border-color: #8f8f8f;
$highlight-color: #83bf45;
$font-size: 18px;
$background-color: #fff;
$padding-standard: 8px 10px 0.875rem;
$border-radius: 4px;

// Mixins
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button-style($width, $height, $color) {
  width: $width !important;
  height: $height !important;
  stroke-width: 1;
  color: $color;
  stroke: $color;
  cursor: pointer;
}

@mixin border-box {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

// ProductGroupForm
.groupForm {
  @include border-box;

  background: $background-color;
  font-size: $font-size;
  color: $border-color;
  overflow: hidden;
  grid-column: 0;
  margin-top: 1.3125rem;
  // Form item container with overflow control
  &-item {
    position: relative;
    height: max(250px);
    overflow-y: auto;
  }

  // Ant Design overrides for structure adjustments
  .ant-row {
    @include flex-column;
  }

  .ant-space {
    gap: 0;

    &-item:has(.groupForm__input) {
      width: 100%;
    }
  }

  .ant-form-item-label {
    align-self: flex-start;

    label {
      color: $border-color;
      height: 1.0625rem;
    }
  }

  // Form content container with border separation
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 1px solid $border-color;
  }

  // Input field styling with padding and border settings
  &__input {
    padding: $padding-standard;
    margin-bottom: 0;

    input {
      width: 100%;
      border: none;
      color: $border-color;

      &:not(:first-child) {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  // Remove button styling using a mixin for consistency
  &__button--remove {
    margin-right: 12px;
    @include button-style(35px, 35px, $highlight-color);
    transition: all 0.3s;
    &:hover {
      color: #6fc1ae;
      stroke: #6fc1ae;
    }
    &:active {
      color: #8bc1e3;
      stroke: #8bc1e3;
    }
  }

  // Add button container with sticky positioning
  &__addition {
    position: sticky;
    z-index: 1;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    background: $background-color;
    padding-bottom: 5px;
    .ant-btn {
      display: inline-flex;
      align-items: center;
      height: auto;
      font-size: 18px;
      color: $border-color;
      font-weight: 400;
    }
  }
}

// TextField
.MuiFormControl-root {
  width: 100%;
  color: #8f8f8f;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 0.875rem;
  &:not(:last-child) {
    margin-bottom: 21px;
  }

  & > label {
    font-size: inherit;
    color: currentColor;
  }

  & .MuiInputBase-root {
    color: currentColor;
    font-size: inherit;
    input {
      padding: 1.0625rem 0.5625rem;
    }
  }
}

.notificationStyle {
  background: rgba(238, 238, 238, 0.9);
  padding: 1.5rem 1.4375rem 1.5625rem 1.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  & .ant-notification-notice-message {
    color: #8f8f8f !important;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__icon {
    width: 2.5rem;
    height: 1.9375rem;
  }
}

@media only screen and (min-width: 768px) {
  .record .record-card {
    grid-column: span 4;
  }
}

@media only screen and (min-width: 1200px) {
  .record .record-card {
    grid-column: span 3;
  }
}
