.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__sider {
    &-logo {
      height: 2rem;
      margin: 1rem;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &__header {
    background: #fff;
    padding: 0;
    box-shadow: 0 0.0625rem 0.25rem rgba(0, 21, 41, 0.08);
  }

  &__content {
    margin: 1.5rem 1rem;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.25rem;
    flex-grow: 1;
  }

  &__footer {
    text-align: center;
    background: #f0f2f5;
  }
}
