.ant-layout {
  background: transparent;
  min-height: 100cqh;
  background: linear-gradient(
    275deg,
    #162343 7.95%,
    #363c4b 56.8%,
    #5c5c5c 95.13%
  );
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
