.ant-layout {
  background: transparent;
  width: 100%;
  background: linear-gradient(
    275deg,
    #162343 7.95%,
    #363c4b 56.8%,
    #5c5c5c 95.13%
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: inherit;
}
