.prodution-detail {
  * {
    box-sizing: border-box;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
  }

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;

    .title {
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 2.215rem;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .ant-btn-primary {
    background-color: #83bf45;
  }

  .ant-btn-default {
    background-color: #186c98;
    border-color: #186c98;
    color: #fff;
  }

  .ant-btn {
    width: 60px;
    height: 60px;
  }

  .ant-btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-btn.ant-btn-icon-only .anticon {
    font-size: 2rem;
  }

  .btn-pause {
    margin-left: 30px;
  }

  .btn-start {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 60px;
    right: 60px;
  }

  .btn-start.ant-btn.ant-btn-icon-only .anticon {
    font-size: 3.5rem;
  }

  // Table
  .ant-table-wrapper {
    margin-top: 30px;
  }

  .ant-table-wrapper .ant-table {
    border-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:first-child {
    border-start-start-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:last-child {
    border-start-end-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    content: none;
  }

  .ant-table-wrapper .ant-table-thead > tr > th {
    background: #186c98;
    border: 1px solid #8f8f8f;
    color: #ffffff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    color: #8f8f8f;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #8f8f8f;
  }

  // stripe
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd) {
    td {
      background: #ededed;
    }
  }
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(even) {
    td {
      background: #d7d7d7;
    }
  }

  .ant-table-wrapper .ant-table-row-indent + .ant-table-row-expand-icon {
    transform: scale(1.8);
    margin-top: 10px;
    margin-inline-end: 15px;
  }

  // set the color of the unfinished row to red
  .ant-table-wrapper .ant-table-tbody .ant-table-row.unfinished-row > td {
    color: #ff0000;
  }
}
