@import "../../styles/variables.scss";
.produtionDetail {
  * {
    box-sizing: border-box;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
  }

  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;

    .title {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 1rem;
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: $screen-lg) {
        font-size: 1.5rem;
      }
    }
  }

  :global(.ant-btn-primary) {
    background-color: #83bf45;
  }

  :global(.ant-btn-default) {
    background-color: #186c98;
    border-color: #186c98;
    color: #fff;
  }

  :global(.ant-btn) > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.ant-btn.ant-btn-icon-only) .anticon {
    font-size: 2rem;
  }

  .btnPause {
    margin-left: 15px;
  }

  .btnStart {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 60px;
    right: 60px;

    @media (min-width: $screen-lg) {
      width: 60px;
      height: 60px;
    }
  }

  .btnStart:global(.ant-btn):global(.ant-btn-icon-only) :global(.anticon) {
    font-size: 1.5rem;

    @media (min-width: $screen-lg) {
      font-size: 2rem;
    }
  }

  // Table
  :global(.ant-table-wrapper) {
    margin-top: 30px;
  }

  :global(.ant-table-wrapper) :global(.ant-table) {
    border-radius: 2px;
  }

  :global(.ant-table-wrapper)
    :global(.ant-table-container)
    table
    > thead
    > tr:first-child
    > *:first-child {
    border-start-start-radius: 2px;
  }

  :global(.ant-table-wrapper)
    :global(.ant-table-container)
    table
    > thead
    > tr:first-child
    > *:last-child {
    border-start-end-radius: 2px;
  }

  :global(.ant-table-wrapper)
    :global(.ant-table-thead)
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    content: none;
  }

  :global(.ant-table-wrapper) :global(.ant-table-cell),
  :global(.ant-table-wrapper) :global(.ant-table-thead) > tr > th {
    padding: 10px 4px;
    @media (min-width: $screen-lg) {
      padding: 16px 16px;
    }
  }

  // Table header
  :global(.ant-table-wrapper) :global(.ant-table-thead) > tr > th {
    font-size: 0.75rem;
    background: #186c98;
    border: 1px solid #8f8f8f;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  :global(.ant-table-wrapper) :global(.ant-table-tbody) > tr > td {
    font-size: 0.75rem;
    color: #8f8f8f;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #8f8f8f;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }

  // set the same color to the same group
  :global(.ant-table-wrapper) :global(.ant-table-tbody) .groupWhite {
    td {
      background: #ededed;
    }
  }
  :global(.ant-table-wrapper) :global(.ant-table-tbody) .groupGray {
    td {
      background: #d7d7d7;
    }
  }

  :global(.ant-table-wrapper)
    :global(.ant-table-row-indent)
    + :global(.ant-table-row-expand-icon) {
    transform: scale(1.2);
  }
  // set the color of the unfinished row to red
  :global(.ant-table-wrapper)
    :global(.ant-table-tbody)
    :global(.ant-table-row).unfinishedRow
    > td {
    color: #ff0000;
  }
  // set the color of the unfinished row to red
  .unfinishedRow > td {
    color: #ff0000;
  }
}
