.prodution-assignment {
  * {
    box-sizing: border-box;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px;
  }

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30px;

    .title {
      color: #fff;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
    }

    .btn-box {
      .ant-btn-primary {
        background-color: #83bf45;
      }

      .ant-btn {
        min-width: 30px;
        min-height: 30px;
      }

      .ant-btn > span {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    /* 在這裡修改 icon 的顏色 */
    .ant-picker .ant-picker-suffix {
      color: #4270b8;
    }
  }

  // 日期選擇器
  .start-date,
  .end-date {
    display: flex;
  }

  .ant-picker {
    width: 115px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
  }

  .ant-picker .ant-picker-input > input {
    color: #8f8f8f;
    // font-size: 1rem;
  }

  .date-to {
    color: #8f8f8f;
    font-weight: 900;
    font-size: 1rem;
  }

  .week-no {
    width: 38px;
    border: 1px solid #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    // padding: 2px;
    color: #8f8f8f;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
  }

  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 20px 0 0 0;
  }

  .filter-section {
    display: flex;
    gap: 15px;
  }

  // 搜尋條件篩選
  .select-box {
    display: flex;
    align-content: center;
  }

  .ant-select .ant-select-selection-placeholder,
  .ant-select-dropdown .ant-select-item,
  .ant-select-selection-item {
    color: #8f8f8f;
    // font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  // 狀態篩選器
  .ant-select-dropdown
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #8bc1e3;
  }

  .status-filter.ant-select-single .ant-select-selector {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  //期限篩選器, 關鍵字搜尋類型篩選器
  .expiry-filter.ant-select-single .ant-select-selector,
  .keyword-type-filter.ant-select-single .ant-select-selector {
    border-radius: 0;
  }

  // 關鍵字搜尋
  .keyword-search.ant-input-affix-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  // 新增母批按鈕
  .ant-btn-default {
    background-color: #186c98;
    border-color: #186c98;
    color: #fff;
  }

  .btn-new {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 60px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Table
  .ant-table-wrapper {
    margin-top: 30px;
  }

  .ant-table-wrapper .ant-table {
    border-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:first-child {
    border-start-start-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-container
    table
    > thead
    > tr:first-child
    > *:last-child {
    border-start-end-radius: 2px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    content: none;
  }

  .ant-table-wrapper .ant-table-thead > tr > th {
    background: #186c98;
    border: 1px solid #8f8f8f;
    color: #ffffff;
    // font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    color: #8f8f8f;
    // font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #8f8f8f;
  }

  // stripe
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd) {
    td {
      background: #ededed;
    }
  }
  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(even) {
    td {
      background: #d7d7d7;
    }
  }

  // hide the disabled checkboxes
  .ant-checkbox-wrapper-disabled {
    display: none;
  }

  // enlarge checkbox
  .ant-checkbox-inner,
  .ant-checkbox-input {
    transform: scale(1.2);
  }

  // set the color to red for the defective quantity column
  .ant-table-wrapper .ant-table-tbody .ant-table-row td:nth-child(9) {
    color: #ff0000;
  }

  // set the color to gray when the status is stop
  .ant-table-wrapper .ant-table-tbody .ant-table-row.status-stop > td {
    color: #b5b5b5;
  }

  // set the color of the second cell to yellow when the class is .expiry-warning
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-warning
    > td:nth-child(3) {
    background-color: #ffd9a1;
  }

  // set the color of the second cell to red when the class is .expiry-danger
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-danger
    > td:nth-child(3) {
    background-color: #ffa9a9;
  }
}

// Modal
.ant-modal-confirm-body {
  align-items: center !important;
}

.ant-modal-confirm-paragraph .ant-modal-confirm-content {
  // width: 750px;
  height: 310px;
  display: flex;
  align-items: center;

  p {
    font-size: 1rem;
  }
}
