.ModeFanOffIcon {
  font-size: 100px;
  display: none;
}

.fan-system-box {
  height: 190px;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;


  .system-top {
    position: relative;
    padding: 25px 15px;
    text-align: start;

    .title {
      width: 100%;
      // margin-bottom:10px ;
      font-family: 'Roboto';
      display: flex;
      justify-content: space-between;

    }
  }
}



.off-state {
  background: linear-gradient(180deg, #555 0%, #D3D3D3 100%);
}

.off-state:hover {
  background: linear-gradient(180deg, #232323 0%, #D3D3D3 100%);
}

.on-state:hover {
  background: linear-gradient(180deg, #03AFBA 0%, #36F096 100%, #36F096 100%);
}

.fan-svg {
  max-width: 100%;
  max-height: 100%;
  height: 220px;
}


.fan-box1 {
  display: flex;

  .value {

    margin-left: 100px;
  }
}

.on-fan {
  background: linear-gradient(180deg, #03BA9A 0%, #36F096 100%, #36F096 100%);
}

.on-fan:hover {
  background: linear-gradient(180deg, #03AFBA 0%, #36F096 100%, #36F096 100%);


}

.off-fan {
  background: linear-gradient(180deg, #555 0%, #D3D3D3 100%);


}

.off-fan:hover {
  background: linear-gradient(180deg, #232323 0%, #D3D3D3 100%);


}

@media (min-width:'1200px') {
  .fan-system-box {

    height: 500px;
  }

  .fan-system-box .fan-svg {
    left: 24px;
    top: -37px;
    margin-top: 30px;
    height: 190px;

  }

}