
.monitor-screen-box{
  color: black ;
  text-align: start;
  padding: 20px ;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 300px;
  font-size: 18px;
  position: relative;
  .title{
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-family: 'Roboto';

  }
  .field{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto ;
    max-width: 90%;
    width: 100%;
    max-height: 90%;
  }
}
@media (min-width:'900px') {

  .monitor-screen-box{
    height: 500px;

  }
}