#monitor-page{
  margin-top: 40px;
}
.switch-path{
  display: flex;
  margin-top: 22px;
  padding: 0 24px;
  justify-content: end;
  .a, .b, .c {
    border: none;
    background-color: #0C1421;
    color: #fff;
    margin-right: 5px;
    // color: #8AC0E2;
    list-style-type: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .a:hover,
  .a:active{
        color: #8AC0E2;

  }
  .b:hover,
  .b:active{
        color: #8AC0E2;

  }
  .c:hover,
  .c:active{
        color: #8AC0E2;

  }

}

