.power-consumptione-box {
  color: #FFFFFF;
  text-align: start;
  padding: 15px 0px 0px 0px;
  border-radius: 10px;
  height: 100%;

  .power-consumptione {
    display: flex;
    flex-direction: column;

  }

}
.unit{
  font-size: 18px;
}

