.production-schedule {
  width: 100%;
  .filter-section {
    display: flex;
    gap: 15px;
  }

  // 表格可調整欄位寬度
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }
  .react-resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }

  .editable-cell {
    position: relative;
  }

  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #8f8f8f;
    border-radius: 2px;
  }

  .box {
    position: relative;
    margin-bottom: 10px;
    padding: 20px 0;
  }

  .editable-row,
  .ant-table-wrapper {
    background: linear-gradient(
      275deg,
      #162343 7.95%,
      #363c4b 56.8%,
      #5c5c5c 95.13%
    );
    color: #fff;
  }

  .ant-table-selection-column {
    width: 10px;
  }

  // sort icon color
  .ant-table-wrapper .ant-table-column-sorter {
    color: #ffffff;
  }

  .ant-table-wrapper .ant-table-filter-trigger {
    color: #ffffff;
  }

  .ant-table-wrapper .ant-table-thead > tr > th {
    border-inline-end: 1px solid #8f8f8f !important;
  }

  .ant-table-wrapper .ant-table-tbody > tr > td {
    border-inline-end: 1px solid #8f8f8f !important;
    border-bottom: 1px solid #8f8f8f;
    padding: 8px;
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd) {
    background: #626262;
    color: #fff;

    td {
      background: #626262;
    }
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd):hover {
    border: 1px solid #fff;
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(even) {
    background: linear-gradient(
      275deg,
      #162343 7.95%,
      #363c4b 56.8%,
      #5c5c5c 95.13%
    );
    color: #fff;

    td:nth-child(n + 1):nth-child(-n + 5) {
      background: #4d4f55;
    }

    td:nth-child(n + 6):nth-child(-n + 26) {
      background: none;
    }
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
    td {
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff;

      .editable-cell-value-wrap {
        width: auto;
        height: 18px;
        border-radius: 2px;
      }
    }
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
    border-left: 2px solid #fff;

    td:first-child {
      border-left: 2px solid #fff;
    }
  }

  .ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
    td:last-child {
      border-right: 2px solid #fff;
    }
  }

  .ant-table-wrapper .ant-table {
    background: none;
    color: #e1e7f5;
    font-size: 14px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:nth-child(n + 1):nth-child(-n + 3) {
    background: #186c98;
    border: 1px solid #8f8f8f;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .ant-table-wrapper .ant-table-thead > tr > th:nth-child(4) {
    background: #402085;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper .ant-table-thead > tr > th:nth-child(5),
  .ant-table-wrapper .ant-table-tbody > tr > td:nth-child(5) {
    //put shadow on the right side of the cell
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:nth-child(n + 5):nth-child(-n + 8) {
    background: #186c98;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:nth-child(n + 9):nth-child(-n + 16) {
    background: #402085;
    color: #e1e7f5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:nth-child(n + 17):nth-child(-n + 18) {
    background: #5e0c29;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:nth-child(n + 19):nth-child(-n + 26) {
    background: #186c98;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper .ant-table-thead > tr > th:nth-child(27) {
    background: #402085;
    color: #e1e7f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 1px solid #8f8f8f;
  }

  .ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container {
    border: 1px solid #8f8f8f;
  }

  // set the color to gray when the status is pause
  .ant-table-wrapper .ant-table-tbody .ant-table-row.status-pause > td {
    color: #000000;
  }

  // set the color of the second cell to yellow when the class is .expiry-warning
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-warning
    > td:nth-child(3) {
    background-color: #f39838 !important;
  }

  // set the color of the second cell to red when the class is .expiry-danger
  .ant-table-wrapper
    .ant-table-tbody
    .ant-table-row.expiry-danger
    > td:nth-child(3) {
    background-color: #f00 !important;
  }

  .ant-table-wrapper td.ant-table-column-sort {
    background: none;
  }

  .title-box {
    display: flex;
    justify-content: space-between;

    .title {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

    .btn-box {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .add {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        margin-top: 3px;
        position: relative;
        margin-left: 10px;
        border: 1px solid #8f8f8f;
        background: #186c98;
        cursor: pointer;

        &:hover {
          border-color: #4f9ab1;
          background-color: #4f9ab1;
        }

        &:active {
          border-color: #8bc1e3;
          background-color: #8bc1e3;
        }
      }

      .delete {
        width: 35px;
        height: 35px;
        border-radius: 30px;
        border: 1px solid #8f8f8f;
        background-color: #f00;
        box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.25);
        margin-top: 3px;
        margin-left: 10px;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: #b14f4f;
          border-color: #b14f4f;
        }

        &:active {
          background-color: #e38b8b;
          border-color: #e38b8b;
        }
      }
    }

    // 在這裡修改 icon 的顏色
    .ant-picker .ant-picker-suffix {
      color: #4270b8;
    }
  }

  // Pagination
  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin-top: 88px;
  }

  .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination .ant-pagination-next .ant-pagination-item-link {
    color: #8f8f8f;
  }

  .ant-pagination .ant-pagination-item a {
    display: block;
    padding: 0 6px;
    font-size: 1rem;
    color: #8f8f8f;
    font-weight: 600;
    background: none;
  }

  .ant-pagination .ant-pagination-options-quick-jumper {
    display: inline-block;
    height: 32px;
    margin-inline-start: 8px;
    line-height: 32px;
    vertical-align: top;
    color: #fff;
  }

  .ant-pagination .ant-pagination-item-active {
    background-color: #f39838;
    border-color: #f39838;
  }

  .ant-pagination .ant-pagination-item-active a {
    color: #fff;
  }

  .ant-pagination .ant-pagination-item {
    border-radius: 15px;
    min-width: 28px;
    height: 28px;
    line-height: unset;
  }

  %btn-shared {
    position: absolute;
    bottom: 86px;
    display: inline-flex;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #4270b8;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: #59acd7;
      border-color: #59acd7;
    }

    &:active {
      background-color: #739bb0;
      border-color: #739bb0;
    }
  }

  .exportBtn {
    @extend %btn-shared;
  }

  .importBtn-initial {
    @extend %btn-shared;
    left: 6%;
    // bottom: -38px;
  }

  .importBtn {
    @extend %btn-shared;
    left: 6%;
  }

  .downloadBtn-initial {
    @extend %btn-shared;
    left: 11%;
    // bottom: -38px;
  }

  .downloadBtn {
    @extend %btn-shared;
    left: 11%;
  }
}
