.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 20px 0 0 0;

}

.exportBtn {
  position: absolute;
  bottom: 30px;
  display: inline-flex;
  padding: 5px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #4270B8;
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: #59ACD7;
    border-color: #59ACD7;
  }

  &:active {
    background-color: #739BB0;
    border-color: #739BB0;
  }
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #8F8F8F;
  border-radius: 2px;
}

.box {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;

}

.editable-row,
.ant-table-wrapper {
  background: linear-gradient(275deg, #162343 7.95%, #363C4B 56.8%, #5C5C5C 95.13%);
  color: #fff;

}




.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background: #4F9AB1;
  border-color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;

}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell:first-child {

  border-left: 1px solid #fff;

}

.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell:last-child {

  border-right: 1px solid #fff;

}

.ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd) {
  background: #626262;
  color: #fff;

  td {

    background: #626262;
  }
}
span{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(odd):hover {
  // background: #aadff5;
  // color: #1b1b1b;
  border: 1px solid #fff;


  td {

    // background: #aadff5;
  }

}

.ant-table-wrapper .ant-table-tbody .ant-table-row:nth-child(even) {
  background: linear-gradient(275deg, #162343 7.95%, #363C4B 56.8%, #5C5C5C 95.13%);
  color: #fff;

  td:nth-child(n+1):nth-child(-n+5) {
    background: #4D4F55;
  }
  td:nth-child(n+6):nth-child(-n+26) {
    background: none;
  }
}

.ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
  // background: #aadff5;
  // color: #1b1b1b;
  // padding: 0px;


  td {
    // background: #aadff5;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    // padding: 0px;
    // margin: 0;

    .editable-cell-value-wrap {
      width: auto;
      // padding-top:12px ;
      height: 18px;
      border-radius: 2px;
      // border: 1px solid #1677ff;

    }


  }
}
// 篩選箭頭
.ant-select .ant-select-arrow .anticon {
  vertical-align: top;
  transition: transform 0.3s;
  // color: #1677ff;
}
.ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
  border-left: 2px solid #fff;

  td:first-child {
    border-left: 2px solid #fff;

  }
}

.ant-table-wrapper .ant-table-tbody .ant-table-row:hover {
  td:last-child {
    border-right: 2px solid #fff;

  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #066c9f;
  // border: 1px solid #1677ff;
}



.ant-table-wrapper .ant-table {
  background: none;
  color: #E1E7F5;
  font-size: 16px;

}


.ant-table-wrapper .ant-table-thead>tr>th:nth-child(n+1):nth-child(-n+3) {
  background: #186C98;
  border: 1px solid #8F8F8F;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


}

.ant-table-wrapper .ant-table-thead>tr>th:nth-child(4) {
  background: #402085;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}

.ant-table-wrapper .ant-table-thead>tr>th:nth-child(n+5):nth-child(-n+8) {
  background: #186C98;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}

.ant-table-wrapper .ant-table-thead>tr>th:nth-child(n+9):nth-child(-n+16) {
  background: #402085;
  color: #E1E7F5;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}

.ant-table-wrapper .ant-table-thead>tr>th:nth-child(n+17):nth-child(-n+18) {
  background: #5E0C29;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}


.ant-table-wrapper .ant-table-thead>tr>th:nth-child(n+19):nth-child(-n+24) {
  background: #186C98;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}

.ant-table-wrapper .ant-table-thead>tr>th:nth-child(25) {
  background: #402085;
  color: #E1E7F5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #8F8F8F;


}


.ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container {
  border: 1px solid #8F8F8F;

}




.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: transparent;
  /* or use 'initial' if needed */
  color: #fff;
}


:where(.css-dev-only-do-not-override-dkbvqv)[class*=" ant-select"] [class^="ant-select"] {
  color: #F39838;
  padding: 0;
  text-align: center;
  background-color: none;
}

:where(.css-dev-only-do-not-override-dkbvqv)[class*=" ant-select"] [class*=" ant-select"] {
  color: #fff;
}

.ant-pagination-prev,
.ant-pagination-next {
  background-color: #fff;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 1px solid #8f8f8f;
  padding: 8px;
}

.ant-table-wrapper td.ant-table-column-sort {
  background: none;
}

.title-box {
  display: flex;
  justify-content: space-between;

  .title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
  }

  .btn-box {
    display: flex;
    margin-bottom: 20px;



    .add {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      margin-top: 3px;
      position: relative;
      margin-left: 10px;
      border: 1px solid #8f8f8f;
      background: #186C98;

      &:hover {
        border-color: #4F9AB1;
        background-color: #4F9AB1;
      }

      &:active {
        border-color: #8BC1E3;
        background-color: #8BC1E3;
      }



    }

    .normal-action {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      margin-top: 3px;
      position: relative;
      margin-left: 10px;
      background-color: #18983C;
      border: 1px solid #8f8f8f;

      &:hover {
        border-color: #51B14F;
        background-color: #51B14F;
      }

      &:active {
        border-color: #8BE39E;
        background-color: #8BE39E;
      }

    }

    .pause {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      border: 1px solid #8f8f8f;
      margin-top: 3px;
      position: relative;
      margin-left: 10px;
      background-color: #F39838;

      &:hover {
        border-color: #B1844F;
        background-color: #B1844F;
      }

      &:active {
        border-color: #E3AB8B;
        background-color: #E3AB8B;
      }

    }

    .delete {
      width: 35px;
      height: 35px;
      border-radius: 30px;
      border: 1px solid #8f8f8f;
      background-color: #F00;
      box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.25);
      margin-top: 3px;
      position: relative;

      &:hover {
        background-color: #B14F4F;
        border-color: #B14F4F;
      }

      &:active {
        background-color: #E38B8B;
        border-color: #E38B8B;
      }


    }
  }

  /* 在這裡修改 icon 的顏色 */
  .ant-picker .ant-picker-suffix {

    color: #4270B8;
  }


}


.ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background: #4F9AB1;
}

.ant-pagination .ant-pagination-item a {
  display: block;
  padding: 0 6px;
  color: #fff;
  background: none;

}

.ant-pagination .ant-pagination-options-quick-jumper {
  display: inline-block;
  height: 32px;
  margin-inline-start: 8px;
  line-height: 32px;
  vertical-align: top;
  color: #fff;
}

.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #F39838;
  color: #fff;
  border-color: #1677ff;

}

.ant-pagination .ant-pagination-item {
  border-radius: 15px;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>thead>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>thead>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>thead>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>th,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tfoot>tr>td,
:where(.css-dev-only-do-not-override-dkbvqv).ant-table-wrapper .ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tfoot>tr>td {
  border-inline-end: 1px solid #8f8f8f;
}