.meter-data {
  color: #ffffff;
  border: 0.1px solid #8f8f8f;
  border-radius: 10px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, #000 0%, #36F096 81.58%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .title {

    padding-top: 14px;
    padding-left: 20px;
    font-family: 'Roboto';

  }

  .value {
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .unit{
    font-size: 24px;
  }
  .fan-devices{
    font-size: 60px;
    width: 100%;
    text-align: center;
  }

  .bg {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.fan-devices-label{
  font-size: 60px;
}