.info {
  margin-top: 125px;
  font-size: 24px;
  height: 100vh;
  padding: 25px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.box1 {
  display: flex;
  flex-direction: column;
  border: 1px #f8f8f8 solid;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 450px;
}
.title{
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}
.value{
  color: #fff;
  padding-bottom: 30px;
}
@media (max-width:'1280px') {
  .box1 {
    margin-right: 10px;
    width: 400px;
  }
}
@media (max-width:'900px') {
  .box1 {
    margin-right: 10px;
    width: 350px;
  }
}

/* index.module.scss */

// .sensorBox {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   margin: 130px 0 20px 0;
//   height: 100vh;
//   background: #0C1421;

// }

// .sensorCircle {
//   // width: 200px; /* 調整寬度，根據需要調整 */
//   border-radius:10px ;
//   border: 1px solid #fff;
//   height: 400px;
//   position: relative;
//   flex-direction: column;
//   justify-content: center;
//   justify-items: center;
//   background: #1D253C;
//   margin-bottom: 20px;

// }

// .sensorTitle {
//   text-align: center;
//   margin-top: 10px;
//   font-size: 20px;
//   margin-bottom: 10px;
//   color: #fff;
// }

// .sensorValue {
//   display: flex;
//   position: absolute;
//   display: flex;
//   justify-content: space-around;
//   width: 150px;
//   top: 55%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }



// .sensorTempValue {
//   color: #FE5A57;
// }

// .sensorHumValue {
//   color: #55AFF7;
// }
