@import "../../styles/variables.scss";

:global(.css-18uunte) {
  padding: 0 20px 20px 20px !important;
}

.tabContainer {
  flex: 1;
  background-color: transparent;
  border-bottom: 1px solid #8f8f8f;
}

.tabs {
  :global(.MuiButtonBase-root) {
    font-size: 0.75rem;
    color: #ffffff;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }
  :global(.Mui-selected) {
    color: #8ac0e2;
  }
  :global(.MuiSvgIcon-root) {
    font-size: 2rem;
  }
}

.inspection {
  margin-top: 15px;

  .head {
    h1 {
      font-size: 1.25rem;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: $screen-lg) {
        font-size: 1.5rem;
      }
    }
  }

  .inner {
    font-size: 1rem;
    display: flex;
    margin-top: 15px;
    padding-left: 15px;
    color: #ffffff;

    @media (min-width: $screen-lg) {
      font-size: 1.5rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;

    span {
      margin-right: 15px;
    }

    .qty {
      display: flex;
      align-items: center;

      span {
        width: 25%;
      }
    }
  }
}

.records {
  max-width: 70%;
}

.quantityInput {
  display: flex;
  align-items: center;
  height: 48px;

  label {
    width: 65px;

    @media (min-width: $screen-lg) {
      width: 80px;
    }
  }
}
