@import "../../styles/variables.scss";
.tabContainer {
  flex: 1;
  background-color: transparent;
  border-bottom: 1px solid #8f8f8f;
}

.tabs {
  :global(.MuiButtonBase-root) {
    font-size: 0.75rem;
    color: #ffffff;

    @media (min-width: $screen-lg) {
      font-size: 1rem;
    }
  }
  :global(.Mui-selected) {
    color: #8ac0e2;
  }
  :global(.MuiSvgIcon-root) {
    font-size: 2rem;
  }
}

.inspection {
  margin-top: 15px;

  .head {
    h1 {
      font-size: 1rem;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @media (min-width: $screen-lg) {
        font-size: 1.5rem;
      }
    }
  }

  .inner {
    font-size: 1rem;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding-left: 15px;
    color: #ffffff;

    @media (min-width: $screen-lg) {
      font-size: 1.5rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;

    span {
      margin-right: 15px;
    }

    .qty {
      display: flex;
      align-items: center;

      span {
        width: 25%;
      }
    }
  }
}

// .records {
//   max-width: 60%;
// }

.quantityInput {
  display: flex;
  gap: 15px;
  align-items: center;
}
